
/* Navbar links */

.nav > li > a:hover{
  background-color:transparent;
}

.navbar-nav> li > a:hover{
  background-color:transparent;
}
.navbar a {
  padding-left: 1em;
  font-size: x-large;
  color: aliceblue;
  text-decoration: none;
}

.navbar > div > a:hover{
  background-color:transparent;
}

.video-container {
  height: 10vh;
  width: 10vw;
  position: relative;
}

.video-container video {
width: 100%;
height: 100%;
position: absolute;
object-fit: cover;
z-index: 0;
}



