nav.profile {
  width: 45rem;
  background-color: #e3f2fd;
}
nav.profile p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 10%;

  text-align: center;

  cursor: pointer;
}

nav.profile p.active {
  border-bottom: solid 2px;
}

.profile-btn.btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.profile-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 95vh;
}

.profile-model-img {
  height: 40vh;
}

#search{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  
}

#switch:focus {
  outline: none;
}