nav.profile p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 10%;

  text-align: center;
}

nav.profile p.active {
  border-bottom: solid 2px;
}

.btn-close {
  position: absolute;
  top: 3rem;
  right: 5rem;
}

.layout {
  display: flex;
  min-height: 95vh;
}