.title{
  color: white;
}


.center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  }

  .outbox{
    width: 70%;
    height:50%;;
    overflow: hidden;
    border-radius: 10px;
  }

  .left{
    padding-left: 10%;
    margin-top: 10%;
    float:left;
    width: 35%;
  }
  .right{
    margin-top: 60px;
    padding-top: 7%;
    float:right;
    width: 65%;
  }


